.heroImage {
    position: relative;
    width: 100vw;          
    height: calc(100vh - 100px); 
    z-index: 0; 
    overflow: hidden;           
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.imageWrapper {
    max-width: 1200px;   /* natural width of image */
    max-height: 800px;   /* natural height of image */
    width: 100%;
    height: auto;
}
