@font-face {
    font-family: 'Malibu Ring';
    src: url('/fonts/malibu-ring.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0.5rem;
    gap: 3rem;
}

.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    white-space: nowrap;
    font-family: 'Malibu Ring', cursive;
}

.navButton {
    display: none; 
    margin-left: auto;
    border: none;
    background-color: inherit;
}

.navLinks, .mobileNavlinks {
    list-style: none;
}

.navLinks {
    display: flex;
    gap: 2rem;
    font-size: clamp(0.3rem, 1.8vw, 1.2rem);
}

.navLinks a, .mobileNavlinks a {
    color: black;
    text-decoration: none;
}

/* Smaller screen */
@media (max-width: 776px) {
    .navLinks {
        display: none;
    }

    .navButton {
        display: block;
    }

    .logo, .navButton {
        margin-bottom: 1rem;
    }
}

/* Menu dropdown */
.mobileMenu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background: inherit;
    border: none;
}

.mobileNavlinks {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    margin-left: -4rem;
    gap: 1.5rem;
    font-size: 1.5rem;
}
