.body-container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.7;
  color: #333;
}

.storySection {
  font-size: 1.1rem;
  background: #fdf7ec;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 872px;
}

.sectionTitle {
  font-family: 'Amoresa', cursive;
  font-size: 2rem;
  color: #c7a96e;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  gap: 12px;
  font-weight: 700;
  flex-wrap: wrap;
}

.word {
  display: flex;
  gap: 2px;
  font-size: 1.8rem;
  color: #c7a96e;
  font-weight: 700;
  flex-wrap: wrap;
  font-family: 'Amoresa', cursive;
}

.letter {
  font-family: 'Amoresa', cursive;
  font-size: 2rem;
  font-weight: 700;
  color: #c7a96e;
  font-style: normal;
}

.storySection p {
  margin: 0;
}

.storyImageCard {
  margin: -5rem;
  display: flex;
}

.storySection:first-of-type .storyImageCard {
  padding-bottom: 30px;
}

.storySection p:last-of-type {
  margin-bottom: 2rem; 
}

@media (max-width: 600px) {
  .sectionTitle {
    font-size: 1.6rem;
  }
}

.story {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

