.body-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.7;
  color: #333;
}

.storySection {
  background: #fdf7ec;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-family: 'Amoresa', cursive;
  font-size: 2rem;
  color: #c7a96e;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  gap: 12px;
  font-weight: 700;
  flex-wrap: wrap;
}

.word {
  display: flex;
  gap: 2px;
  font-size: 1.8rem;
  color: #c7a96e;
  font-weight: 700;
  flex-wrap: wrap;
  font-family: 'Amoresa', cursive;
}

.letter {
  font-family: 'Amoresa', cursive;
  font-size: 2rem;
  font-weight: 700;
  color: #c7a96e;
  font-style: normal;
}

.storySection p {
  margin: 0;
}

.storyImageCard {
  position: relative;
  width: calc(100% + 4rem); /* account for 2rem padding on left+right */
  margin: 2rem -2rem 0 -2rem; /* negative margin to extend outside padding */
  padding-top: 56.25%; /* 16:9 aspect ratio */
  border-radius: 12px;
  overflow: hidden;
}


@media (max-width: 600px) {
  .sectionTitle {
    font-size: 1.6rem;
  }
}
