@font-face {
    font-family: 'Malibu Ring';
    src: url('/fonts/malibu-ring.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.info, .schedule, .event {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.letter {
    font-family: 'Malibu Ring', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #c7a96e;
}

.sectionTitle {
    font-size: 1.5rem;  
    color: #c7a96e;
    font-style: italic;
    font-family: cursive; 
}

.weddingDate {
    font-size: 1.4rem;
}

.weddingLocation {
    font-size: 1rem;
}

.sectionTitle {
    display: flex;
    gap: 6px;
}

/* Top half-circle image */
.topImageWrapper {
    position: relative;
    width: 100%;
    height: 300px;          /* adjust height as needed */
    overflow: hidden;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    margin-bottom: 1rem;
    border: 1px solid #000;
}

.topImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}