@font-face {
    font-family: 'Malibu Ring';
    src: url('/fonts/malibu-ring.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.info, .schedule, .event {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.letter {
    font-family: 'Malibu Ring', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #DABA7B;
}

.sectionTitle {
    font-size: 1.5rem;  
    color: #DABA7B; 
    font-style: italic;
    font-family: cursive; 
}

.weddingDate {
    font-size: 1.2rem;
}

.weddingLocation {
    font-size: 1rem;
}